@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Insertar empleado a la plantilla</h1>

<form method="POST">
    <label>Id hospital</label>
    <input type="number" name="idhospital" class="form-control"/>
    <label>Id sala</label>
    <input type="number" name="idsala" class="form-control" />
    <label>Id empleado</label>
    <input type="number" name="idempleado" class="form-control" />
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label>Funcion</label>
    <input type="text" name="funcion" class="form-control" />
    <label>Turno</label>
    <input type="text" name="turno" class="form-control" />
    <label>Salario</label>
    <input type="number" name="salario" class="form-control" />
    <button class="btn btn-success">Insertar empleado</button>
</form>
